.glyphicon{
position:relative;
top:1px;
display:inline-block;
font-family:'Glyphicons Halflings';
-webkit-font-smoothing:antialiased;
font-style:normal;
font-weight:normal;
line-height:1}

.glyphicon-lock:before{
content:"\1f512"}


.close{
float:right;
font-size:21px;
font-weight:bold;
line-height:1;
color:#000;
text-shadow:0 1px 0 #fff;
opacity:.2;
filter:alpha(opacity=20)}

.close:hover,.close:focus{
color:#000;
text-decoration:none;
cursor:pointer;
opacity:.5;
filter:alpha(opacity=50)}

.close:not(:disabled):not(.disabled){
cursor:pointer}

button.close{
padding:0;
cursor:pointer;
background:transparent;
border:0;
-webkit-appearance:none}

.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}